<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <button [routerLink]="'/payment'" type="button" class="btn btn-outline-primary"> Ir a ver compras y usuario vips </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Selecciona un usuario para crear un carrito</label>
        <select class="form-select" [disabled]="fromDate===null" (change)="onUserChange($event)">
            <option value="null" selected>Selecciona un usuario</option>
            <option *ngFor="let user of listUsers;" value="{{user.id}}">
                {{user.user_name}}
            </option>
        </select>
        <span class="span-active" *ngIf="user.vip === true">Este mes el Usuario {{user.name}} es VIP</span>
    </div>
    <div class="col-sm-6">
        <label>Simula la fecha</label>
        <input class="form-control" type="date" placeholder="MMAA" (change)="onDateChange($event.target.value)" [(ngModel)]="fromDate">
        <span class="span-active" *ngIf="!promoDate">Todos los martes y viernes son promocionables</span>
        <span class="span-active" *ngIf="promoDate">Día promocional</span>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-6">
        <h3>Lista de productos</h3>
        <div class="list-group">
            <label class="list-group-item" *ngFor="let item of listItems; index as i">
              <input #checkboxes class="form-check-input me-1" [disabled]="fromDate===null || user.id===null" (change)="isChecked($event, item, i)" type="checkbox" value="{{item}}">
              Nombre: <b>{{item.name}}</b> - Precio: <b>${{item.price}}</b>
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 *ngIf="user.cart===null">El carrito esta vacio</h3>
        <h3 *ngIf="user.cart!==null">Carrito - Total a pagar: ${{user.cart.total}}</h3>
        <div class="list-group" *ngIf="user.cart!==null">
            <label class="list-group-item" *ngFor="let item of user.cart.item; index as i">
            <input type="checkbox" class="form-check-input me-1" (change)="isCheckedRemove($event, item, i)" value="{{item}}">
            Nombre: <b>{{item.name}}</b> - Precio: <b>${{item.price}}</b>
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button type="button" class="btn btn-primary" [disabled]="listAddItems.length===0" (click)="addOrRemoveItemToCart()">Agregar al carrito -></button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="user.cart!==null">
        <div class="p-2">
            <button type="button" class="btn btn-primary" *ngIf="user.cart.total!==0" (click)="addOrRemoveItemToCart()"> <- Quitar del carrito</button>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="user.cart!==null;">
        <div class="p-2">
            <button type="button" class="btn btn-primary" *ngIf="user.cart.total!==0" (click)="payCart()"> Pagar carrito </button>
        </div>
    </div>
</div>