

<div class="row mt-5">
    <div class="col-sm-5">
        <button [routerLink]="'/purchases'" type="button" class="btn btn-primary"> Volver a compras</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-4">
        <p>Selecciona el tipo de usuario que queres buscar:</p>

        <div class="form-check form-check-inline">
            <label>Usuarios vip</label>
            <input class="form-check-input" type="radio" [checked]="true" name="inlineRadioOptions" value="true" [(ngModel)]="vipStatus">
        </div>
        <div class="form-check form-check-inline">
            <label>No vips</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="false" [(ngModel)]="vipStatus">
        </div>
    </div>
    <div class="col-sm-4">
        <label class="span-active">Elegí una fecha (Tomara el <b>mes</b> en curso de la fecha seleccionada)</label>
        <input class="form-control" type="date" placeholder="MMAA" (change)="onDateChange($event.target.value)">
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary mt-4" (click)="searchUsers()"> Buscar usuarios </button>
    </div>
</div>


<div class="row mt-4" *ngIf="listUserStatusVip.length>0">
    <div class="col-sm-8">
        <p><b>Usuarios</b></p>
        <ul class="list-group" *ngFor="let user of listUserStatusVip; index as i">
            <li class="list-group-item">{{user[1]}}</li>
        </ul>
    </div>
</div>

<div class="row mt-4" *ngIf="listUserStatusVip.length===0">
    <div class="col-sm-8">
        <p>Sin resultados</p>
    </div>
</div>


<div class="row mt-5">
    <div class="col-sm-5">
        <label>Selecciona un usuario para ver sus compras</label>
        <select class="form-select" (change)="onUserChange($event)">
            <option value="true" selected>Ver todos</option>
            <option *ngFor="let user of listUsers;" value="{{user.id}}">
                {{user.user_name}}
            </option>
        </select>
    </div>
</div>

<table class="table table-hover mt-4">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Total</th>
          <th scope="col">Descripcion del descuento</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pay of listPays;">
          <td>{{pay.id}}</td>
          <td>{{pay.total}}</td>
          <td>{{pay.descount}}</td>
          <td>{{pay.date}}</td>
        </tr>
      </tbody>
</table>