<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <h1>Examen técnico</h1>
        </div>
    </div>

    <ng-content></ng-content>
</div>